[submodule "variant"]
	path = variant
	url = https://github.com/eggs-cpp/variant
[submodule "jeayeson"]
	path = jeayeson
	url = https://github.com/jeaye/jeayeson
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "oscpack"]
	path = oscpack
	url = https://github.com/jcelerier/oscpack.git
[submodule "base64"]
	path = base64
	url = https://github.com/tkislan/base64
[submodule "nano-signal-slot"]
	path = nano-signal-slot
	url = https://github.com/jcelerier/nano-signal-slot
